@charset "UTF-8";

/*configurações da cauculadora*/

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    background-color: gainsboro;
    font-size: 1.1em;

}

main{
    background: #808080;
    width: 400px;
    height: 600px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

div{
    padding: 20px;
}

div.caixa-resultado{
    background-color: white;
    margin: 20px;
    padding: 25px;
    text-align: right;
    border-radius: 12px;
    line-height: 100%;
    font-size: 2em;
}

button{
    margin-left: 16px;
    width: 70px;
    height: 55px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: gainsboro;
    font-weight: bold;
}

button:hover{
    background-color: #b4b4b4;
}

button.button-sinal:hover{
    background-color: #b97900;
}

button#button-igual{
    margin-left: 45px;
    width: 110px;
}

button.button-sinal{
    background-color: orange;
}
